html{
  font-size: 16px;
  color: #373D3F;
}

h1{
  font-size: 4rem;
  font-weight: 700;

}

h2{
  font-size: 3.2rem;
  font-weight: 500;
  padding: 2rem 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;

}

h3{
  font-size:2.4rem;
  padding: 2rem 0rem;
  font-weight: lighter;
}

h4 {
  font-size: 1.8rem;
  font-family: 'Montserrat', sans-serif;
}

p{
  font-family: 'EB Garamond', serif;
}

img{
  max-width: 100%;
}

video{
    max-width: 100%;
}

a:link {
    text-decoration: none;
}

a:hover{
  font-weight: 600;
  text-decoration: underline;
}

.head{
  position: fixed;
  display: inline-flex;
  height: 4rem;
  width: 100%;
  background-color: #2f4f4f;
}

.emblem{
  display: inline-flex;
  align-items: center;
  padding-left: 1.5rem;
  font-weight: 700;
}

nav{
  width: 100%;
  display: flex;
  align-items: center;
}
nav ul{
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
}

 li a{
  padding: 0 1rem;
  color: #fff8dc ;
}

#academy{
  color: #dc143c;

}
#colmar{
  color: #000000;

}
#slash{
  font-size: 2em;
  font-weight: 600;
  color:#f0ffff;
}

.mobile{
  display: none;

}

@media only screen and (max-width: 480px) {
  .mobile{
    display: inline-flex;
  }

  .breakbreak{
    height: 11rem;
  }

  .desktop{
    display: none;
  }
  .sixty{
    display: none;
  }
  .forty{
    max-width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .subbanner .image{
    display: none;
  }

  .button1{
    align-items: center;
  }

}

.banner{
  display: flex;
  background-color: #778899;
  padding-top: 4rem;

}

.sixty{
  width: 60%;
  padding: 2rem  1.5rem;
  align-items: center;
}

.forty{
  display: flex;
  width: 40%;
  justify-content: center;
  padding: 2rem  1.5rem;

}

.banner .forty{
  flex-direction: column;
  align-items: center;
}

.button1{
  display: flex;
  background-color: #008b8b;
  border: 2px #696969 solid;
  border-radius: 4px;
}

.button1:hover{
  background-color: #8fbc8f;
}

.button1 span{
  padding: .5rem 5rem;
}

.button1 span a{
  text-decoration: none;
  color: #fff8dc;
  font-size: 2rem;
}

.banner .forty h1{
  padding-bottom: 2rem;
}



.subbanner{
  width: 100%;
  background-color: #5f9ea0;
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.subbanner .sixty img{
  padding-top: 2rem;
}

.subbanner .forty{
  display: flex;
  flex-direction: column;
}

.subbanner .forty img{
  padding: 1rem;
  display: flex;
  border: green 1px solid;
  min-width: 35%;
  height: auto;
  max-height: 12rem;
}

.subbanner .forty .info{
  display: flex;
  border: red 1px solid;
  margin-left: 1rem;
  justify-content: flex-end;
  padding-top: 2rem;
  line-height: 1.2rem;
}

.colim1, .colim2, .colim3{
  display: inline-flex;

}

.courses{
  display: flex;
  margin: 0 auto;
  width: 100%;
  background-color: darkgrey  ;
  padding-bottom: 2rem;
}

.courses h2{
  padding: 2rem 0;
  text-align: center;

}

.row1, .row2{
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

.imgbox{
  background: lightblue ;
  margin: 2rem 0rem;
  margin: 1rem;
  max-width: 25%;

}

.imgbox img{
  max-height: 12rem;
  width: auto;

}

.coursebox{
    padding: 1rem 1rem 1.5rem 1rem;
}

.coursebox h5{
  padding: .5rem 0;
}

@media only screen and (max-width: 480px){

  .imgbox{
    display: flex;
    min-width: 20rem;
    flex-wrap: wrap;
    text-align: left;
    margin: .5rem auto;


  }

  .coursebox h5, .coursebox p, .courses img{
    display: none;
  }
  .row1, .row2{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;


  }

}

.bottom{
  width: 100%;
  text-align: center;
  background-color: #4682b4;
}

.bottombox{
  display: flex;
}

.forty .side {
  display: inline-block;
}

.side1, .side2{
  display: flex;
  align-items: center;
  background-color: beige;
  margin: 1rem 1rem;
  }

.side img{
    min-height: 12rem;
    width: auto;
  }

@media only screen and (max-width: 480px){
  .bottom .forty{
    display: none;

  }
  .bottom .sixty{
    display: block;
    width: 100%;
  }
  .bottom .sixty h3, .bottom .sixty p{
    display: none;
  }
}

footer{
    display: inline-flex;
    background-color: #2f4f4f;
    align-items: center;
    height: 8rem;
    width: 100%;
    color: #fff8dc ;


  }
.footmain{
  width: 100%;
  display: inline-flex;
  padding: 0rem 1.5rem;
}
.leftfoot{
  width: 50%;

}
.rightfoot{
  width: 100%;
}

footer ul{
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  text-decoration: none;

}
